#wrapper{
    width:950px;
    height: 1000px;
    background-color: pink;
}

#nav {
    width: 950px;
    height: 50px;
    background-color: red;
}

#left {
    width: 150px;
    height:480px;
    float: left;
    margin: 20px 0 20px 20px;
    background-color: yellow;
}

#right {
    width: 740px;
    height:480px;
    float: right;
    margin: 20px 20px 20px 0;
    background-color: green;
}

#title{
    background: #a2a2a2;
    width: 900px;
    margin: 0;
    padding: 0;
}

.footer {
    width: 950px;
    height: 150px;
    background-color: purple;
    border: 2px solid black;
    clear: both;
}
