#title{
    padding:0;
    text-align: center;
}

#title2{
    padding:0;
    text-align: center;
}

#table{
    margin: auto;
    padding:0;
    text-align: center;
}

#container {
  width: 100px;
  height: 10px;
  text-align: center;
  background-color: pink;
}

#choices{
    float: left;   
}
#placeholder{
    width:500px;  
}
